/* HomePage.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    background-color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #1b9a56;
    cursor: pointer;
}

.search-bar {
    margin: 0 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 40%;
}

.search-button {
    padding: 10px 20px;
    background-color: #1b9a56;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
}

.nav .nav-link {
    margin-left: 20px;
    color: #1b9a56;
    text-decoration: none;
    font-weight: bold;
}

.main-content {
    padding: 20px;
    text-align: center;
}

.main-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.region-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.region-card {
    background-color: #1b9a56;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.region-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.region-name {
    margin: 20px 0 10px;
}

.region-button {
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: #1b9a56;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
}