/* Layout.css */


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid lightgreen;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #1b9a56;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 10px 20px;
    background-color: #1b9a56;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

.nav .nav-link {
    margin-left: 20px;
    color: #1b9a56;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.main-content {
    padding: 40px;
}