/* Profile.css */

.portfolio-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, #f0f4f8, #d9e8fc);
  /* Background with gradient */
  padding: 20px;
}

.page-header {
  text-align: center;
  margin-bottom: 30px;
}

.portfolio-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 100%;
}

.input-groups {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bioBtn {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.form-group-profile {
  margin-bottom: 15px;
  width: 50%;
}


.form-group-profile label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  width: 50%;
}

.form-group-profile input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-group-profile textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-group-profile textarea {
  resize: none;
  height: 140px;
}

#image-upload {
  display: none;
}

.image-upload-label {
  display: inline-block;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.image-preview {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;

}

.submit-button {
  padding: 10px 20px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-start;
  margin-bottom: 15px;
}

.submit-button:hover {
  background: #218838;
}

.portfolio-form-content {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* flex-grow: 1; */
  width: 70%;
}

.portfolio-form-image {
  margin-right: 30px;
}